# Data
data/lookup_dicts/aatc_lookup_scopenotes.pkl
data/lookup_dicts/aatc_qwen_lookup.pkl
data/lookup_dicts/aatc_sbert_lookup.pkl
aatc.ttl


# Byte-compiled / optimized / DLL files
__pycache__
*.py[codz]
*$py.class

# Environments
.env
.venv
env/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# VSCode
.vscode

# pycache
__pycache__/

# Configs
src/configs/demo_huggingface.yaml
src/configs/demo_ai4eosc.yaml
src/configs/huggingface.yaml
src/configs/ai4eosc.yaml

# Lookups 
src/utils/generate_lookups/generate_qwen_lookup_dict_with_scope_notes.py

# Misc
src/utils/censorship_eval.ipynb
src/utils/evaluation.ipynb