# Data
data/lookup_dicts
aatc.ttl


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.venv
env/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# VSCode
.vscode

# pycache
__pycache__/

# configs
configs/demo_huggingface.yaml
configs/demo_ai4eosc.yaml
configs/huggingface.yaml
configs/ai4eosc.yaml